<div class="overallcontact">
<section>
<div class="contact-container">
    <div class="address-block"> 
        <div>
            <h2>Contact Info</h2>
            <div class="info">
                <li>
                    <span class="address"> 555 S Taaffe St <br> 
                        Sunnyvale, CA<br>
                        94086</span>
                </li>
                <li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.827942517329!2d-122.03703308460933!3d37.37024787983511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb660fd100e37%3A0x6d7651e5dcbe9885!2s555%20S%20Taaffe%20St%2C%20Sunnyvale%2C%20CA%2094086!5e0!3m2!1sen!2sus!4v1591677958230!5m2!1sen!2sus" width="300" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </li>
            </div>
        </div>
     </div>
    <div class="form-block"> 
        <h2>Send a Message</h2>
        <div class="container">
            <div class="input w50">
                <input type="text" name="" required>
                <span>First Name</span>
            </div>
            <div class="input w50">
                <input type="text" name="" required>
                <span>Last Name</span>
            </div>
            <div class="input w50">
                <input type="text" name="" required>
                <span>Email Address</span>
            </div>
            <div class="input w100">
                <textarea name="" require></textarea>
                <span>Write your Message here...</span>
            </div>
            <div class="input w100">
                <input type="submit" value="send">
            </div>
        </div>
    </div>
</div>
</section>
</div>