<div class="log-container" id="log-container">
  <div class="form-box">
    <form>
      <p id="log-number">log {{logNumber}}</p>
      <p>Handler: <input class="log-field" type="text" required="required"></input></p>
      <p>Dog: <input class="log-field" type="text" required="required"></input></p>
      <div>
        <span>Date: <input class="log-field" type="text" required="required"></input></span>
        <span>Phase of Day: <input class="log-field" type="text"></input></span>
        <span>Duration: <input class="log-field" type="text"></input></span>
      </div>
      <div>
        <span>weather: <input class="log-field" type="text"></input></span>
        <span>wind: <input class="log-field" type="text"></input></span>
      </div>
      <div>
        <span>Problem Type: <input class="log-field" type="text" required="required"></input></span>
        <span>Trail Age: <input class="log-field" type="text"></input></span>
      </div>
      <p>Environment:<textarea class="log-field"></textarea></p>
      <p>Performance Analysis: <textarea class="log-field"></textarea></p>
      <p>Goals for Training: <textarea class="log-field" required="required"></textarea></p>
    </form>
  </div>
</div>
