<div class="log-form-container" id="log-container">
  <div class="log-form-box">
    <form class="log-form">
    
    <h1 class="logs-title" id="log-number">Log {{logNumber}}</h1>

    <div class="form-row"> 
      <input class="log-field" type="text" placeholder="            Click here to enter handlers name" required="required"></input>
      <span  class="text" name="handler" required="required">Handler:</span>
      <span class="line"></span>
    </div>

    <div class="form-row"> 
      <input class="log-field" type="text"   placeholder="      If you press the tab key after clicking the first box it will put you here" required="required"></input>
      <span  class="text" name="dog" required="required">Dog:</span>
      <span class="line"></span>
    </div> 
    
    <div class="form-row"> 
      <input class="log-field" type="text"  required="required">
      <span  class="text" name="date" required="required">Date:</span>
      <span class="line"></span>
    </div>

    <div class="form-row"> 
      <input class="log-field" type="text"  required="required">
      <span  class="text" name="phase" required="required">Phase of Day:</span>
      <span class="line"></span>
    </div>

    <div class="form-row"> 
      <input class="log-field" type="text"  required="required">
      <span  class="text" name="duration" required="required">Duration:</span>
      <span class="line"></span>
    </div>

    <div class="form-row"> 
      <input class="log-field" type="text"  required="required">
      <span  class="text" name="weather" required="required">Weather:</span>
      <span class="line"></span>
    </div>

    <div class="form-row"> 
      <input class="log-field" type="text"  required="required">
      <span  class="text" name="wind" required="required">Wind:</span>
      <span class="line"></span>
    </div> 

    <div class="form-row"> 
      <input class="log-field" type="text"  required="required">
      <span  class="text" name="problem" required="required">Problem Type:</span>
      <span class="line"></span>
    </div>

    <div class="form-row"> 
      <input class="log-field" type="text"  required="required">
      <span  class="text" name="trail" required="required">Trail Age:</span>
      <span class="line"></span>
    </div> 

    <div class="form-column-textarea"> 
      <textarea class="log-field" type="text"  required="required"></textarea>
      <span  class="text" name="enviorment" required="required">Enviorment:</span>
      <span class="line"></span>
    </div>

    <div class="form-column-textarea"> 
      <textarea class="log-field" type="text"  required="required"></textarea>
      <span  class="text" name="performance" required="required">Performance Analysis:</span>
      <span class="line"></span>
    </div>

    <div class="form-column-textarea"> 
      <textarea class="log-field" type="text"  required="required"></textarea>
      <span  class="text" name="goals" required="required">Goals for Training:</span>
      <span class="line"></span>
    </div>

    <div class="column-button">
      <input  type="submit" id="btn-submit" value="Send">
    </div>
     
    
   {{!--  <p>Handler: <input class="log-field" type="text" placeholder="Enter handlers name here" required="required"></input></p>
    <p>Dog: <input class="log-field" type="text" required="required"></input></p>
    <div>
      <span>Date: <input class="log-field" type="text" required="required"></input></span>
      <span>Phase of Day: <input class="log-field" type="text"></input></span>
      <span>Duration: <input class="log-field" type="text"></input></span>
    </div>
    <div>
      <span>weather: <input class="log-field" type="text"></input></span>
      <span>wind: <input class="log-field" type="text"></input></span>
    </div>
    <div>
      <span>Problem Type: <input class="log-field" type="text" required="required"></input></span>
      <span>Trail Age: <input class="log-field" type="text"></input></span>
    </div>
    <p>Environment:<textarea class="log-field"></textarea></p>
    <p>Performance Analysis: <textarea class="log-field"></textarea></p>
    <p>Goals for Training: <textarea class="log-field" required="required"></textarea></p> --}}


    </form>
  </div>
</div>
