<div class="log-container">
  <p id="log-number">log {{logNumber}}</p>
  <p>Handler: <input class="log-field" type="text"></input></p>
  <p>Dog: <input class="log-field" type="text"></input></p>
  <div>
    <span>Date: <input class="log-field" type="text"></input></span>
    <span>Phase of Day: <input class="log-field" type="text"></input></span>
    <span>Duration: <input class="log-field" type="text"></input></span>
  </div>
  <div>
    <span>weather: <input class="log-field" type="text"></input></span>
    <span>wind: <input class="log-field" type="text"></input></span>
  </div>
  <div>
    <span>Problem Type: <input class="log-field" type="text"></input></span>
    <span>Trail Age: <input class="log-field" type="text"></input></span>
  </div>
  <p>Environment:<textarea class="log-field"></textarea></p>
  <p>Performance Analysis: <textarea class="log-field"></textarea></p>
  <p>Goals for Training: <textarea class="log-field"></textarea></p>
  <input class="log-submit" id="btn-submit" type="button" value="Submit"></input>
</div>
