<div>
  <p>log {{logNumber}}</p>
  <p>Handler: <input type="text"></input></p>
  <p>Dog: <input type="text"></input></p>
  <div>
    <span>Date: <input type="text"></input></span>
    <span>Phase of Day: <input type="text"></input></span>
    <span>Duration: <input type="text"></input></span>
  </div>
  <div>
    <span>weather: <input type="text"></input></span>
    <span>wind: <input type="text"></input></span>
  </div>
  <div>
    <span>Problem Type: <input type="text"></input></span>
    <span>Age of Trail: <input type="text"></input></span>
  </div>
  <p>Environment:</p>
  <textarea></textarea>

  <p>Performance Analysis:</p>
  <textarea></textarea>

  <p>Training Goals:</p>
  <textarea></textarea>
  <input type="button" value="Submit"></input>
</div>
