<header>
    
    <div class="site-title">
        <div class="logo-image">
        <img src="/images/labradorlogoB2.png" class="logo" width="50" height="50" alt="Browndog Logo">
        <div class="logo-text">
            <span data-text="BrownDog">BrownDog</span>
            </div>
        </div>
        {{> navbar}}
    </div>
    
</header>