<div class="homepage">
    <div class="dogbox">
        <div class="homebox1">
            <div class = "homebox3">
                <p class="hometext1"> 
                     The Latest Digital Search 
                     and Rescue Training Log
                 </p>
             </div>
        </div>
        <div class="homebox2">
            <div class = "homebox4">
                 <p class="hometext2"> 
                    A Must Have for All SAR Dog Handlers
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="icons">
        <!-- icons for social media-->

    </div>

