<ul>
    {{!-- <li>
        <a href="#">
            <div class="icon">
                <img src="/images/labradorlogoB2.png" class="logo"  alt="Browndog Logo">
            </div>
            <div class="name"><span data-text="BrownDog">BrownDog</span></div>
        </a>
    </li> --}}
    <li>
        <a href="/">
            <div class="icon">
                <i class="fas fa-home"></i>
                <i class="fas fa-home"></i>
            </div>
            <div class="name"><span data-text="Home">Home</span></div>
        </a>
    </li>
    <li>
        <a href="/logs">
            <div class="icon">
               <i class="fas fa-file-alt"></i>
                <i class="fas fa-file-alt"></i>
            </div>
            <div class="name"><span data-text="Logs">Logs</span></div>
        </a>
    </li>
    <li>
        <a href="/create">
            <div class="icon">
                <i class="fas fa-paw"></i>
                <i class="fas fa-paw"></i>
            </div>
            <div class="name"><span data-text="NewLog">NewLog</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="icon">
                <i class="fas fa-users"></i>
                <i class="fas fa-users"></i>
            </div>
            <div class="name"><span data-text="Team">Team</span></div>
        </a>
    </li>
     <li>
        <a href="#">
            <div class="icon">
                <i class="fas fa-envelope-open-text"></i>
                <i class="fas fa-envelope-open-text"></i>
            </div>
            <div class="name"><span data-text="Contact">Contact</span></div>
        </a>
    </li>
</ul>