
<h1>Team 34</h1>

<div class="display-log-container"> 
    <article class = "log"> 
            <div class = "log_content">
                <h2> Mark Dean</h2>
                <img src =>
                <p>School: Oregon State University</p>
                <p>Major: Software Engineering</p>
                <a href="https://web.engr.oregonstate.edu/~deanema/">Click for Bio</a>
            </div>
    </article>
    <article class = "log"> 
        <div class = "log_content">
                <h2> Tyrone Stagner</h2>
                <img src ="https://img.cinemablend.com/filter:scale/quill/f/8/c/e/c/9/f8cec9c540644b27f71615541816486c8845e0af.jpg?mw=400  ">
                <p>School: Oregon State University</p>
                <p>Major: Electrical and Computer Engineering</p>
                <a href="https://web.engr.oregonstate.edu/~stagnert/CS290/">Click for Bio</a>
            </div>
    </article>
    <article class = "log"> 
        <div class = "log_content">
                <h2> Charlene Wang</h2>
                <img src ="https://media-exp1.licdn.com/dms/image/C5603AQHg5RojK_M_YQ/profile-displayphoto-shrink_400_400/0?e=1597276800&v=beta&t=zF3xXRsfCiKIldeULrwYvzOuGaB-aOrIXGPrnXeeJFg" style="width:200px;height:200px">
                <p>School: Oregon State University</p>
                <p>Major: Computer Science</p>
                <a href="">Click for Bio</a>
            </div>
    </article>

</div>