
<h1>Team 34</h1>

<div class="display-log-container"> 
    <article class = "log"> 
            <div class = "log_content">
                <h2> Mark Dean</h2>
                <img src =>
                <p>School: Oregon State University</p>
                <p>Major: Computer Science</p>
                <a href="url">link text</a>
            </div>
    </article>
    <article class = "log"> 
        <div class = "log_content">
                <h2> Tyrone Stagner</h2>
                <img src =>
                <p>School: Oregon State University</p>
                <p>Major: Electrical and Computer Engineering</p>
                <a href="url">link text</a>
            </div>
    </article>
    <article class = "log"> 
        <div class = "log_content">
                <h2> Charlene Wang</h2>
                <img src =>
                <p>School: Oregon State University</p>
                <p>Major: Computer Science</p>
                <a href="url">link text</a>
            </div>
    </article>

</div>

