<html>
<head>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
  <script src="index.js" defer></script>
  <script src="defaultTemplate.js" defer></script>
  <title>Brown Dog</title>
</head>
<body>
  {{{body}}}
</body>
</html>
