<script src="create.js" defer></script>

<h1 id="new-log-title" class="logs-title">New Logs</h1>

{{> defaultCreate}}

{{!-- <input class="log-submit" id="btn-submit" type="button" value="Submit"></input> --}}
