.log-submit
{
    margin: 0;
    position: absolute;
    top: 90%;
    left: 42.5%;
}

/* for Contact us page */
.overallcontact
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
section
{
    position: relative;
    padding-bottom: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #8B4513;
}
section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #DEB887;
}
section .contact-container
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
section .contact-container .address-block
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #8B4513;;
    z-index: 1;
    padding: 40px;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
    15px 15px 15px  rgba(0,0,0,0.05);
}
section .contact-container .address-block h2
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
section .contact-container .address-block .info
{
    position: relative;
    margin: 20px 0;
}
section .contact-container .address-block .info li
{
    position: relative;
    list-style: none;

    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
section .contact-container .address-block .info li h3
{
    color: #C0C0C0;
    font-weight: 500;
}
section .contact-container .address-block .info li .address
{
    color: #C0C0C0;
    width: 30px;
    min-width: 30px;
    font-size: 15px;
    font-weight: 500;
}
section .contact-container .address-block .info li iframe
{
    min-width: 50%;
}
section .contact-container .address-block .info li:hover .address
{
    opacity: 1;
}
section .contact-container .form-block
{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 300px;
    padding-left: 150px;
    padding-top: 100px;
    height: 90%;
    width: 60%;
    border-radius: 25px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
    15px 15px 15px  rgba(0,0,0,0.05);
}
section .contact-container .form-block h2
{
    color: #8B4513;
    font-size: 24px;
    font-weight: 500;
}
section .contact-container .form-block .container
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .contact-container .form-block .container .input
{
    position: relative;
    margin: 0 0 35px 0;
}
section .contact-container .form-block .container .input.w50
{
    width: 47%;
}
section .contact-container .form-block .container .input.w100
{
    width: 100%;
}
section .contact-container .form-block .container .input input,
section .contact-container .form-block .container .input textarea
{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
section .contact-container .form-block .container .input textarea
{
    min-width: 120px;
}
section .contact-container .form-block .container .input span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transform: 0.5%;
    pointer-events: none;
}
section .contact-container .form-block .container .input input:focus ~ span,
section .contact-container .form-block .container .input textarea:focus ~ span,
section .contact-container .form-block .container .input input:valid ~ span,
section .contact-container .form-block .container .input textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}
section .contact-container .form-block .container .input input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background: #8B4513;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}
section .contact-container .form-block .container .input input[type="submit"]:hover
{
    background: #ff568c;
}

/* for Homepage */
/*.homepage
{
    position: relative;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 100vh;
}*/
.dogbox
{
    min-height: 800px;
    margin: 5px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(/images/browndog.jpg);
    background-size: cover;
}
.homebox1
{
    min-height: 50px;
    min-width: 200px;
    display: flex;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10%;
    padding-left: 15%;

}
.homebox3
{
    opacity: 0.8;
    background: gray;
    border: 4px solid black;
    border-radius: 25px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
    15px 15px 15px  rgba(0,0,0,0.05);
}
.hometext1
{
    font-size: 20px;
    min-height: 50px;
    padding: 50px;
}
.homebox2
{
    min-height: 50px;
    min-width: 200px;
    display: flex;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 10%;
    padding-right: 10%;
}
.homebox4
{
    opacity: 0.8;
    background: gray;
    border: 4px solid black;
    border-radius: 25px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
    15px 15px 15px  rgba(0,0,0,0.05);
}
.hometext2
{
    font-size: 20px;
    min-height: 50px;
    padding: 50px;
}
.icons
{
    display: flex;
    flex-direction: column;
}
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;

}
.site-title
{
    display: flex;
    justify-content: space-between;
    margin: 20px;

}
.logo-image
{   text-align: center;
    margin: 10px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
    15px 15px 15px  rgba(0,0,0,0.05);
}
.logo
{
    align-self: center;
    margin: 5px 15px;

}
.logo-text span
{
    margin: 0 15px;
    align-items: center;
    color: #000;
    font-size: 14px;
}
.logs-title{

    text-align: center;
}
.log-form-container
{
   /* display:flex;
   justify-content: center;
   align-items: center; */

}
.log-form-box
{   margin: 25px 20%;

    border-radius: 25px;

    background: #f0f0f0;

    /*This is the first shadowing tecnique */
   /*  box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0.05); */

    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0),
                inset 4px 4px 5px rgba(255,255,255,0.8),
                inset -4px -4px 5px rgba(0,0,0,0.05),
                0 50px 40px rgba(0,0,0,0.05);

}
.log-form
{
    margin: 0px 30px 20px;
    display: flex;
    flex-direction: column;


}
.column-button
{
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}
.form-column-textarea
{
    padding: 0 10px;
    margin: 30px 0 10px;
    position: relative;
    width: 100%;
    height: 100px;
}
.form-row
{
    padding: 0 10px;
    margin: 30px 0 10px;
    position: relative;
    width: 100%;
    height: 25px;
}
.text
{
    position: relative;
    width: 100%;
    height: 40px;
    color: brown;
    font-size: 18px;
    z-index: 2;
}
input:focus::placeholder {
    color: transparent;
  }
.form-row input,
.form-column-textarea textarea
{

    position: absolute;
    width: 90%;
    background: transparent;
    /* box-shadow: none; */
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
}
.form-row input:focus + .text,
.form-row input:valid + .text
{
    top: -25px;
    left: -10px;
}
.form-column-textarea textarea:focus + .text,
.form-column-textarea textarea:valid + .text
{
    top: -25px;
    left: -10px;
}

.log-form .form-row .line,
.log-form .form-column-textarea .line
{
    position: absolute;
    top:-5px;
    z-index: 1;
    display: block;
    width: 90%;
    height: 30px;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.log-form .form-column-textarea .line
{
    height: 100px;
}
.form-row input:focus ~ .line,
.form-row input:valid ~ .line
{
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
    15px 15px 15px  rgba(0,0,0,0),
    inset 4px 4px 5px rgba(255,255,255,0.8),
    inset -4px -4px 5px rgba(0,0,0,0.05),
    0 50px 40px rgba(0,0,0,0.05);
}

.form-row input:focus + .line,
.form-row input:valid + .line
{
    top: -25px;
    left: -10px;
}
.form-column-textarea input:focus + .line,
.form-column-textarea input:valid + .line
{
    top: -25px;
    left: -10px;
}
.form-column-textarea textarea
{
    height: 100%;
    resize: none;


}
.form-column-textarea textarea:focus ~ .line,
.form-column-textarea textarea:valid ~ .line
{
    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
    15px 15px 15px  rgba(0,0,0,0),
    inset 4px 4px 5px rgba(255,255,255,0.8),
    inset -4px -4px 5px rgba(0,0,0,0.05),
    0 50px 40px rgba(0,0,0,0.05);
}
.log-form h1
{
    width:100%;
    text-align: center;
}

/* starting of the log section*/
.log-field
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} */
div .log-field
{
    display: inline-block;
    padding-right: 20px;
}
.display-log-container
{
    margin: 20px 10%;
    display: flex;
    flex-wrap: wrap;
}
.member-card
{
    flex: 0 1 2%;
    display: flex;
    margin: 20px 10px 2px;
    padding: 20px;
    border-radius: 25px;
    background: #f0f0f0;

    /*This is the first shadowing tecnique */
   /*  box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0.05); */

    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0),
                inset 4px 4px 5px rgba(255,255,255,0.8),
                inset -4px -4px 5px rgba(0,0,0,0.05),
                0 50px 40px rgba(0,0,0,0.05);

}
.log
{
    flex: 0 1 28%;
    display: flex;
    margin: 20px 10px 2px;
    padding: 20px;
    border-radius: 25px;
    background: #f0f0f0;

    /*This is the first shadowing tecnique */
   /*  box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0.05); */

    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0),
                inset 4px 4px 5px rgba(255,255,255,0.8),
                inset -4px -4px 5px rgba(0,0,0,0.05),
                0 50px 40px rgba(0,0,0,0.05);

}
.log-content
{
    flex: 1 1 80%;
    margin-left: 10px;



}
ul
{
    margin: 10px;
    padding: 10px;
    background: #f0f0f0;
    display: flex;
    border-radius: 25px;

    /* The box shadow below is the same as the one on the log box container*/
    /*-boxs hadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0),
                inset 4px 4px 5px rgba(255,255,255,0.8),
                inset -4px -4px 5px rgba(0,0,0,0.05),
                0 50px 40px rgba(0,0,0,0.05); */

    /*This is another shadowing tecniqe we can see if we want */
    /* box-shadow: 0 10px 30px rgba(0,0,0,.3);*/

    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0.05);
}
ul li
{

    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,.2);

}
ul li:last-child
{
    border-right: none;
}
ul li a
{
    text-decoration: none;
    padding: 0px 20px;
    display: block;
}
ul li a .icon
{
    width: 35px;
    height: 35px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}
ul li a .icon .fas
{
    width: 100%;
    height: 100%;
    line-height: 35px;
    font-size: 27px;
    transition: 0.5s;
    color: #000;

}
ul li a .icon .fas:last-child
{
    color: #c23903;

}
ul li a:hover .icon .fas
{
    transform: translateY(-100%);
}
ul li a .name
{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}
ul li a .name span
{
display: block;
position: relative;
color: #000;
font-size: 14px;
line-height: 20px;
transition: 0.5s;

}
ul li a .name span:before
{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height:100%;
    color: #c23903;
}
ul li a:hover .name span
{
    transform: translateY(20px);
}








/* Small screens */
@media (max-width: 500px) {
    .site-title {
    /* On small screens, we are no longer using row direction but column */
    display: flex;
    flex-direction: column;

    }
    .logo-image
    {   text-align: center;
        margin: 10px;
        background: #f0f0f0;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
        15px 15px 15px  rgba(0,0,0,0.05);
    }
    .logo
    {
        align-self: center;
        margin: 5px 15px;

    }
    .logo-text span
    {
        margin: 0 15px;
    align-items: center;
    color: #000;
    font-size: 14px;
    }
    ul
{
    margin: 10px;
    padding: 10px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    border-radius: 25px;

    /* The box shadow below is the same as the one on the log box container*/
    /*-boxs hadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0),
                inset 4px 4px 5px rgba(255,255,255,0.8),
                inset -4px -4px 5px rgba(0,0,0,0.05),
                0 50px 40px rgba(0,0,0,0.05); */

    /*This is another shadowing tecniqe we can see if we want */
    /* box-shadow: 0 10px 30px rgba(0,0,0,.3);*/

    box-shadow: -15px -15px 15px rgba(255,255,255,0.5),
                15px 15px 15px  rgba(0,0,0,0.05);
}
ul li
{

    list-style: none;
    /* text-align: center; */
    display: block;
    border-right: 1px solid rgba(0,0,0,.2);

}
ul li:last-child
{
    border-right: none;
}
ul li a
{
    text-decoration: none;
    padding: 0px 20px;
    display: block;
}
ul li a .icon
{
    width: 35px;
    height: 35px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}
ul li a .icon .fas
{
    width: 100%;
    height: 100%;
    line-height: 35px;
    font-size: 27px;
    transition: 0.5s;
    color: #000;

}
ul li a .icon .fas:last-child
{
    color: #c23903;

}
ul li a:hover .icon .fas
{
    transform: translateY(-100%);
}
ul li a .name
{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}
ul li a .name span
{
display: block;
position: relative;
color: #000;
font-size: 14px;
line-height: 20px;
transition: 0.5s;

}
ul li a .name span:before
{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height:100%;
    color: #c23903;
}
ul li a:hover .name span
{
    transform: translateY(20px);
}

}

/*-------------------------------------------end of small at media--------------------------------------------------------------*/
